<%- include ("./templates/_header") %>
<h3>Crea una entrada</h3>

<!-- FORMULARIO-->

<div class="col-md-5">
    <div class="card">
      <div class="card-body">
       <form action="/add" method="post">
         <div class="form-group">
            <input class="form-control" type="text" name="prof_name" placeholder="Agrega el nombre del profesor">
         </div>
         <div class="form-group">
            <textarea class ="form-control" name="description" cols="80"
            placeholder="Agrega una Descripción"></textarea>
         </div>
         <div class="form-group">
            <input class="form-control" type="number" name="grade" placeholder="Calificación" min="0" max="10">
         </div>
         <div class="form-group">
            <input class="form-control" type="text" name="materia" placeholder="Agrega el nombre de la materia">
         </div>
        <button class="btn btn-primary" type="submit">
        Add
        </button>
       </form>
      </div>
    </div>
 </div>

<%- include ("./templates/_footer") %>