<%- include ("./templates/_header") %>

<div id="about-us">
    <h3> Acerca de nosotros</h3>
    <p> Nosotros somos un sitio que busca comunicar a los alumnos para calificar a sus profesores y ayudarlos a tener un semestre exitoso. </p>
</div>

<h4> Profesores: </h4>
<div id="contenedor"> <!--placeholder para desplegar a profes-->
    <table>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Calificación</th>
        </tr>
        <tr>
            <td>ejemplo #</td>
            <td> <a href="/ve-profe">ejemplo nombre</a> </td> <!--referencia a link dinámico y ruta /ve-profe-->
            <td>ejemplo calif</td>
        </tr>
    </table>
</div>


<%- include ("./templates/_footer") %>