<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <title>Login</title>
    </head>
    <body>

        <nav class="navbar navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="/">MIS PROFES 2.0</a>
            <a href="/register"><button type="button" class="btn btn-success">Register</button></a>
          </nav>

        <section class="login-block">
        <div class="container">
	        <div class="row ">
		        <div class="col login-sec">
		            <h2 class="text-center">Login Now</h2>
		            <form class="login-form" action="/login" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                            <input name="username" type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                            <input name="password" type="password" class="form-control" placeholder="">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-login float-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </section>

    </body>
</html>