<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    </head>
    <body>

        <nav class="navbar navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="/">MIS PROFES 2.0</a>
            <a href="/login"><button type="button" class="btn btn-success">Log-in</button></a>
          </nav>

        <section class="login-block">
        <div class="container">
	        <div class="row ">
		        <div class="col login-sec">
		            <h2 class="text-center">Register</h2>
		            <form class="login-form" action="/addUser" method="POST">
                        <div class="form-group">
                            <label for="exampleInput1" class="text-uppercase">Username</label>
                            <input name="username" type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Email</label>
                            <input name="email" type="email" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                            <input name="password" type="password" class="form-control" placeholder="">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                            <input name="admin" type="checkbox" class="form-check-input" value="true">
                            <small>Are you Admin?</small>
                            </label>
                            <button type="submit" class="btn btn-login float-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </section>

    </body>
</html>